<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="top-image">
        <img src="../../assets/img10.jpg" alt="Top Image" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="mission-vision">
        <h2>Mission And Vision</h2>
        <p>
          <i class="fa fa-lightbulb-o" aria-hidden="true"></i> &nbsp;
          <strong>India's Growth:</strong> India is competing and excelling in education, acknowledged by eminent
          personalities like Late Mr. APJ Abdul Kalam and former President Mr. Barack Obama.
        </p>
        <p>
          <i class="fa fa-rocket"  aria-hidden="true"></i>&nbsp;
          <strong>Forward Progress:</strong> Encouragement for the younger generation to march forward, seize
          opportunities, and excel. Choose exceptional institutions like SKS Study Tonic for self-improvement.
        </p>
        <p>
          <i class="fa fa-graduation-cap"  aria-hidden="true"></i>&nbsp;
          <strong>Educational Excellence:</strong> In today’s competitive world, specialized education is crucial. Seek
          guidance from top-tier institutions for success.
        </p>
        <p>
          <i class="fa fa-binoculars"  aria-hidden="true"></i>&nbsp;
          <strong>Choosing Wisely:</strong> Select institutions that pave the way for success and facilitate personal
          growth. "Don't settle for mediocrity, strive for excellence."
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="../../assets/img12.jpg" alt="Right Side Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>
