
.mission-vision {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .mission-vision p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .top-image img {
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  h2{
    text-align: center;
  }

