<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <!-- SUCCESS STORY -->
        <h2>SUCCESS STORY</h2>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-md-12 text-center">
        <!-- OUR ACHIEVEMENT -->
        <h2>OUR ACHIEVEMENT</h2>
      </div>
    </div>
  
    <div class="row text-center mt-5">
      <div class="col-md-3">
        <!-- Winner Awards -->
        <i class="fa fa-trophy" style="font-size:54px; margin-bottom: 10px;"></i>
        <h3>300</h3>
        <p>Winner Awards</p>
      </div>
      <div class="col-md-3">
        <!-- Happy Students -->
        <i class="fa fa-smile-o" style="font-size:54px; margin-bottom: 10px;"></i>
        <h3>2500</h3>
        <p>Happy Students</p>
      </div>
      <div class="col-md-3">
        <!-- Various Courses -->
        <i class="fa fa-bookmark" style="font-size:54px; margin-bottom: 10px;"></i>
        <h3>120</h3>
        <p>Various Courses</p>
      </div>
      <div class="col-md-3">
        <!-- Another Metric -->
        <i class="fa fa-shield" style="font-size:54px; margin-bottom: 10px;"></i>
        <h3>120</h3>
        <p>Another Metric</p>
      </div>
    </div>
  </div>
