<section class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="top-image">
                <img src="../../assets/img11.png" alt="Top Image" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-5 mb-4">
            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-primary text-white text-center py-2">
                        <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                        <p class="m-0">We’ll write rarely, but only the best content.</p>
                    </div>
                </div>
                <div class="card-body p-3">
                    <form>
                        <div class="form-group">
                            <label for="inputName">Your name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Your email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <label for="inputSubject">Subject</label>
                            <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Message</label>
                            <textarea class="form-control" id="inputMessage" rows="4"
                                placeholder="Your message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded-0 py-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="mb-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3425.6408004628547!2d85.85357307475007!3d20.28459161292261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a190bb32df0a747%3A0xf016f9cd5f09d5!2sSKS%20STUDY%20TONIC!5e1!3m2!1sen!2sin!4v1702738592237!5m2!1sen!2sin"
                    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-map-marker"></i></a>
                    <p>Plot-590, Near DBP School, Bomikhal, Rasulgarh, Bhubaneswar-751010</p>
                </div>
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-phone"></i></a>
                    <p>+91- 9937458139</p>
                </div>
                <div class="col-md-4">
                    <a class="bg-primary px-3 py-2 rounded text-white mb-2 d-inline-block"><i
                            class="fa fa-envelope"></i></a>
                    <p>sksstudytonic@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>