<div class="m-scroll">
    <div class="m-scroll__title">
      <div>
        <h1>
          <a href="https://dribbble.com/JulianoF" class="no-underline">Welcome To SKS Study Tonic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Admission Open</a>
        </h1>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>SKS STUDY TONIC</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <p class="increase-font-size">We, the SKS Study Tonic, promise to provide an unchallenged
            educational career and to excel your performance in the class
            of BSE,CBSE and ICSE From III to X with Professional Courses of 
            Spoken English and Computer Programming since 2016 in
             an unbeatable style.</p>
      </div>
    </div>
  </div>
