<section class="portion py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center text-md-start">
            <h2 class="text-white mb-4">FIND A NEW WAY FOR YOUR CAREER</h2>
            <p class="text-white mb-4">Contact us to start your academic session under the best teachers</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center text-md-end">
            <a href="#" class="btn btn-success btn-lg ">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  